@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 0rem;
}

/* 
R (0)
G (110)
B (255 */
.theme-custom {
  /* Name: custom color palette
     Author: Ilias Ism
     URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: linear-gradient(to top left,#D4FFEC,#57F2CC,#4596FB);

  --background: 163 65% 7.36%;
  --foreground: 163 10% 99.6%;

  --muted: 163 50% 27.6%;
  --muted-foreground: 163 10% 59.2%;

  --popover: 163 45% 11.96%;
  --popover-foreground: 163 10% 99.6%;

  --card: 163 45% 11.96%;
  --card-foreground: 163 10% 99.6%;

  --border: 163 50% 27.6%;
  --input: 163 50% 27.6%;

  --primary: 163 100% 92%;
  --primary-foreground: 163 10% 9.200000000000001%;

  --secondary: 163 50% 27.6%;
  --secondary-foreground: 163 10% 99.6%;

  --accent: 163 50% 27.6%;
  --accent-foreground: 163 10% 99.6%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 163 10% 99.6%;

  --ring: 163 100% 92%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

